/* Palette URL: http://paletton.com/#uid=33g0I0kI1iYIIaFGVfmJwmpLgqK */

/* primary color */
$color-yellow-lightest: #D59D00;
$color-yellow-lighter: #B28400;
$color-yellow: #977000;
$color-yellow-darker: #7A5A00;
$color-yellow-darkest: #553F00;

/* complementary 1 */
$color-teal-lightest: #008379;
$color-teal-lighter: #006E66;
$color-teal: #005D56;
$color-teal-darker: #004B46;
$color-teal-darkest: #003430;

/* complementary 2 */
$color-red-lightest: #BC003F;
$color-red-lighter: #9D0035;
$color-red: #85002D;
$color-red-darker: #6C0024;
$color-red-darkest: #4B0019;

.white {
	color: white;
}

.hive-yellow {
	color: $color-yellow;
}

.hive-yellow-bg {
	background-color: $color-yellow;
}

.hive-teal-bg {
	background-color: $color-teal-darkest;	
}
