/* Palette URL: http://paletton.com/#uid=71p1K0koBqBf0-Pk5tnrLlRvKh2 */

/* primary color */
$color-yellow-lightest: #FFEA87;
$color-yellow-lighter: #EAD057;
$color-yellow: #D4B731;
$color-yellow-darker: #AE9317;
$color-yellow-darkest: #887001;

/* secondary 1 */
$color-teal-lightest: #60B59C;
$color-teal-lighter: #3A9B7D;
$color-teal: #208C6B;
$color-teal-darker: #0F7355;
$color-teal-darkest: #015A3F;

/* secondary 2 */
$color-orange-lightest: #FFB187;
$color-orange-lighter: #EA8A57;
$color-orange: #D46A31;
$color-orange-darker: #AE4C17;
$color-orange-darkest: #883001;

/* complementary */
$color-purple-lightest: #7F6EBC;
$color-purple-lighter: #5C48A1;
$color-purple: #452F92;
$color-purple-darker: #311C78;
$color-purple-darkest: #1E0C5D;

.white {
	color: white;
}

.hive-yellow {
	color: $color-yellow;
}

.hive-yellow-bg {
	background-color: $color-yellow;
}
