$font-fancy: Georgia, serif;

$size-navigation: 18px;
$size-heading: 22px;
$size-subtitle: 24px;
$size-intro: 36px;
$size-hero: 48px;

$size-navigation-phone: 13px;
$size-heading-phone: 16px;
$size-subtitle-phone: 15px;
$size-intro-phone: 18px;
$size-hero-phone: 40px;
