$font-fancy: Georgia, serif;

$size-text: 14px;
$size-navigation: 18px;
$size-subheading: 18px;
$size-heading: 24px;
$size-subtitle: 36px;
$size-hero: 48px;

$size-text-phone: 10px;
$size-navigation-phone: 12px;
$size-subheading-phone: 14px;
$size-heading-phone: 18px;
$size-subtitle-phone: 30px;
$size-hero-phone: 40px;

$size-intro: 30px;
$size-intro-phone: 15px;
