$font-fancy: Georgia, serif;

$size-text-xsmall: 10px;
$size-navigation-xsmall: 10px;
$size-subheading-xsmall: 12px;
$size-heading-xsmall: 15px;
$size-hero-xsmall: 20px;

$size-text-small: 14px;
$size-navigation-small: 15px;
$size-subheading-small: 18px;
$size-heading-small: 24px;
$size-hero-small: 30px;

$size-text: 14px;
$size-navigation: 18px;
$size-subheading: 18px;
$size-heading: 24px;
$size-hero: 48px;

$size-text-phone: 14px;
$size-navigation-phone: 15px;
$size-subheading-phone: 18px;
$size-heading-phone: 24px;
$size-hero-phone: 48px;

$size-intro: 30px;
$size-intro-phone: 17px;
$size-intro-small: 15px;
$size-intro-xsmall: 10px;
