a {
	color: $color-yellow;
}

a:visited {
	color: $color-red-lightest;
}

a:hover {
	color: $color-yellow-lighter;
}

a:active {
	color: #color-teal;
}

p, div {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}
