@import '_colors';
@import '_text';
@import '_toplevel';

.hive-colored-image {
	/* 
	* thanks to https://codepen.io/sosuke/pen/Pjoqqp 
	* and 
	* https://stackoverflow.com/a/50942954/4789448
	* 
	* applied to a bitmap with a solid foreground color, 
	* rotates the color to solid black (the brightness 
	* and saturate entries), then to D59D00 with invert...contrast 
	*/
	filter: brightness(0) saturate(100%) invert(56%) sepia(95%) saturate(1918%) hue-rotate(15deg) brightness(101%) contrast(101%);
}

.hero-image {
	top: 0px;
	width: 100%;
}

.footer {
	bottom: 0px;
	background-color: $color-teal;
	padding: 10px;
	color: white;
}
