@import 'common';
@import 'w3_parallax';

body {
	font-size: $size-text;	
}
@media (max-width:600px) {
	body {
		font-size: $size-text-phone;	
	}
}

.byline {
	font-size: 80%;
	color: white;
	opacity: 0.7;
}

.company-name {
	font-size: $size-hero;
}

.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.intro-text {
	font-family: $font-fancy;
	font-size: $size-intro;
}
@media (max-width:600px) {
	.intro-text {
		font-family: $font-fancy;
		font-size: $size-intro-phone;
	}
}

.slogan {
	font-family: $font-fancy;
	font-size: $size-subheading;
}
@media (max-width:600px) {
	.slogan {
		font-family: $font-fancy;
		font-size: $size-subheading-phone;
	}
}

.heading {
	font-family: $font-fancy;
	font-size: $size-subtitle;
}

.social-icon {
	width: 32px;
}

.social-link {
	text-decoration: none;
}

.section-image {
	margin: 20px;
	max-width: 800px;
}

.opaquebox {
	background-color: #ffffff44;
}

.display-top-third{
	position:absolute;
	top:20%;
	left:50%;
	transform:translate(-50%,-20%);
	-ms-transform:translate(-50%,-20%);
}

.display-bottom-third{
	position:absolute;
	top:90%;
	left:50%;
	transform:translate(-50%,-90%);
	-ms-transform:translate(-50%,-90%);
}

.biopic {
	width: 100px;
	float: left;
	margin: 10px 20px;
} 
@media (max-width:600px) {
	.biopic {
		width: 100px;
		margin: 10px 20px;
	}
}

.padding-huge {
	padding: 100px;
}
@media (max-width:600px) {
	.padding-huge {
		padding: 30px;
	}
}

.narrow-content {
	margin-left:auto;
	margin-right:auto;
	max-width:400px;
}

.w3-card {
	padding: 20px 0px 20px 0px;
}

